.App {
  text-align: left;
  align-items: left;
  
}


.App-header {
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

label {
  padding: 1em;
}
h1 {
  padding: 10px;
}
h3 {
  padding: 1em;
}

input {
  /* display: block; */
  min-width: 25%;
  margin: 1em;
  padding: 1em;
  width: 25%;
  border-radius: 8px;
  border-style: none;
  border: 1px solid #e4e6e8;
  transition: 0.1s ease;
}

input:hover {
  border-color: rgb(115, 219, 245);
}

button {
  margin: 0.8em;
  padding: 1em;
  border: 1px solid #e4e6e8;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

button:hover {
  background-color: rgb(95, 99, 100);
  color: white;
}
